@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Libre+Baskerville:wght@700&family=Lobster&family=Poppins:wght@500;700&family=Roboto:wght@400;900&display=swap');

body{
    margin: 0;
    padding: 0%;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;  
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
   
}
.container{
    width: 80%;
    margin: auto;
    /* padding: 2%; */
    background-color:#FFFF;

}
/* .navlogo{
    padding-left: 100px;
    padding-top: 80px;
} */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.navbar a{
    text-decoration: none;
    color:#3A3A3A;
}
.navlogo a{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;                        
}
.navlink a{
    font-size: 16px;
    font-weight: 600;
    margin-right: 34px;
}
.navlink{
      
      padding-top:9px ;
      /* padding-right: 100px; */

}

/* Infulencer Part */

.infulencer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 150px;
}
.infulencer-right{
   padding-top: 30px;
         
}
.infulencer-left{
    width: 440px;
    height: 414px;
         
}
.infulencer-text{
    font-size: 52px;
    line-height: 70px;
    font-weight: 700;
}
.infulencer-right p{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}
.infulencer-right a{
    text-decoration: none;
    background-color:#E02C6D ;
   
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 50px;
}
.infulencer-right a:hover{
    background-color: #e2719b;
}
.logos{
    width: 90%;
    margin: auto;
    
}
.logo img{
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 10px;


}
.text-align h1{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color:#3A3A3A;
}
.fa-star,.fa-star-half-alt{
    font-size: 12px;
}
.fa-star.filled,.fas.fa-star-half-alt{
    color: #FFC014;
}

.ratings span{
    font-weight: 700;
    font-size: 14px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    background-color:#fffefec5;
}
.product{
    background-color:#FFFFFF;
    padding: 10px;
    border-radius: 15px;
}
.product:hover{
  border: 2px solid rgba(46, 43, 43, 0.856);
}
.product-title{
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 0px;


}
.product-price{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 6px;
    margin-bottom: 0px;
}
.product-descriptiom{
    color: #787885;
    font-size: 14px;
    font-weight: 700;
}
.next-page{
    width: 80%;
    margin: auto;
    position: relative;
}
.next-page>a{ 
    display: block;
    text-decoration: none;
    color: #E02C6D;
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 10px;
}

.extra-section{
   padding-top: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-self: center;

}
.extra-left img{
    width: 410px;
    height: 270px;
}
.extra-right{
    align-self: center;
}
.extra-heading{
    font-size: 38px;
    color: 
    rgba(10, 8, 38, 1);
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 5px;

}
.extra-details{
    margin-top: 0px;
    font-size: 16px;
    color: 
    rgba(108, 108, 108, 1);

}
.extra-right a{
    text-decoration: none;
    background-color:#E02C6D ;
   
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 50px;
 
}
.extra-right a:hover{
    background-color: #e2719b;
}
/* Footer Part */
.footer{
    width: 100%;
    /* margin-top: 35px; */
    text-align: center;
    background-color:#0A0826;
}
.footer-header{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color:#FFFFFF;
    padding-top: 30px;
}
.footer-details{
    font-size: 14px;
    font-weight: 700;
    color:#FFFFFF;
}
.icons{
    padding-bottom: 30px;
}

.icons i{
    margin-right: 5px;
    color:#FFFFFF;
    font-size: 18px;
}


/* Media Query */
/* Phone and small screen */
@media screen and (max-width: 690px) {
   .infulencer{
       display: flex;
       flex-wrap: wrap;
       flex-direction:row ;
   }
   .products{
       justify-content: center;
   }
   .extra-section{
       display: flex;
       flex-wrap: wrap;
       flex-direction:row ;
       overflow: hidden;

   }
   .navlink{
       display: none;
   }
   .navlogo a{
     width: 100%;
     margin-left: 30px;
   }
   .infulence-left img{
   
       width: 80%;
    }
    .infulencer-right{
        order: 2;
    }
    .infulencer-left{
        order: 1;
    }
    .logos{
        margin-top: 30px;
        align-content: center;
    }
    .infulencer-text{
        font-size: 28px;
        color: 
        rgba(58, 58, 58, 1);
        line-height: 42px;
        font-weight: 700;
        text-align: center;
    }
    .infulencer-right p{
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
        color: 
        rgba(58, 58, 58, 1);
    }
    .infulencer-right a{
        padding: 10px 24px 10px 24px;
        margin-left: 70px;
    }
  
}
/* Tablet */
@media only screen and (min-width:690px) and (max-width:990px){
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }
	
}